<!DOCTYPE html>
<html lang="en">
<title>Go Templates - Composing layouts</title>
<body>
<main>
    <h1>Page Data</h1>
    {{ . }}
    <p>{{ template "polarbear" }}</p>
    <p>{{ template "myTextTemplate" .}}</p>
</main>
</body>
</html>