<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN Dude</title>
</head>
<body>
<h2>Welcome to the party legend!</h2>
<form method="post">
    <input type="text" name="username" placeholder="User Name"><br>
    <input type="text" name="password" placeholder="Password"><br>
    <input type="submit">
</form>

<h2>Go to <a href="/signup">Signup</a></h2>
</body>
</html>