<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<h2>Welcome to the party legend!</h2>
<form method="post">
    <input type="email" name="username" placeholder="User Name"><br>
    <input type="text" name="password" placeholder="Password"><br>
    <input type="text" name="firstname" placeholder="First Name"><br>
    <input type="text" name="lastname" placeholder="Last Name"><br>
    <input type="submit">
</form>
</body>
</html>